.button {
  cursor: pointer;
  background: transparent;

  border-radius: 99px;
  display: flex;
  align-items: center;
  transition: var(--fade);
  text-decoration: none;
  &:hover{
    color: var(--c-theme);
    background-color: var(--c-theme-10);
  }
}
.iconButton{
  padding: 8px;
}