.button {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    min-width: 40px;
    font-weight: bold;
    justify-content: center;
    background-color: var(--c-theme);
    color: var(--c-primary);
    &:hover{
        background-color: var(--c-theme);
        color: var(--c-primary);
    }
}

.fullWidth {
    width: 100% !important;
}
.big{
    height: 47px;
    min-width: 47px;
}